* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'B612 Mono', monospace;
  cursor: crosshair;
}

@font-face {
  font-family: 'Chomsky';
  src: url(Chomsky.otf);
}

a:hover, img:hover {
  cursor: pointer;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-color: white;
}

main {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

nav,
footer {
  padding: 1% 0;
  background-color: black;
}

footer a {
  font-family: 'Chomsky';
  text-decoration: none;
  color: white;
  font-size: 30px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
}

.init, .name {
  font-family: 'Chomsky';
  display: inline-block;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 35px;
  color: white;
  text-align: left;
}

#nav-links li {
  display: inline-block;
  font-size: 25px;
  font-family: 'Chomsky';
  display: none;
}

#ham-links li {
  display: block;
  margin: 10px 10px;
}

#ham-links {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: black;
  text-align: right;
  padding: 10px 10px;
  display: none;
}

#ham-links a {
  font-family: 'Chomsky';
  text-decoration: none;
  color: white;
  font-size: 25px;
}

#hamburg {
  margin-top: 10px;
  float: right;
}

.menu-show {
  display: inline-block;
}

#nav-links {
  float: right;
  list-style: none;
  margin-top: 10px;
  padding-right: 20px;
  /* display: none; */
}



header {
  padding: 0;
  margin-top: 60px;
  margin-bottom: 0;
}

h1 {
  padding: 20px 20px;
  font-size: 40px;
  line-height: 37px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

h1#projects-headline {
  width: 85%;
  border: 7px solid black;
  margin-bottom: 20px;
}

#headline {
  text-align: left;
  font-size: 25px;
  line-height: 23px;
  width: 100%;
}

h2 {
  font-size: 30px;
  margin-bottom: 25px;
  padding: 10px 10px;
}

section {
  min-height: 200px;
  padding: 20px 0;
  background-color: white;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

p {
  padding: 10px 30px;
  text-align: left;
}

#projects {
  border-bottom: 7px dashed black;
}

#projects p {
  font-size: 16px;
}

#projects a {
  font-size: 15px;
}

.tech {
  display: block;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  width: 75%;
  margin: auto auto;
}

.contact-text {
  display: block;
}

/* section:nth-child(even) {
  background-color: #ddd;
} */

.thumb {
  width: 100%;
}



.thumb {
  max-width: 700px;
}

#github h3, #contact h3 {
  width: 90%;
  margin: auto auto;
  padding-bottom: 35px;
}

.contact-text {
  padding: 10px 10px 0 10px;
  font-size: 18px;
}

/* #githubicon {
  padding-top: 35px;
} */

.soc-icon {
  height: 70px;
  margin: 30px 30px;
}

footer {
  font-size: 20px;
  clear: both;
}

@media screen and (min-width: 750px) {
  #portrait {
    float: right;
    margin: 0 5%;
    height: 70vh;
  }

  #nav-links a {
    font-family: 'Chomsky';
    color: white;
    text-decoration: none;
  }

  #nav-links li {
    display: inline-block;
  }

  #hamburg {
    display: none;
  }

  header {
    margin-top: 80px;
  }

  #headline {
    text-align: center;
    font-style: italic;
    font-size: 16px;
  }

  section#about {
    margin: 0;
    width: 100%;
    max-width: none;
  }

  #about h1 {
    margin: 0;
  }

  #projects {
    clear: both;
    max-width: 95%;
  }

  #projects p {
    font-size: 20px;
  }

  #projects img {
    max-width: 80%;
  }

  .tech {
    font-size: 16px;
  }

  #github, #contact {
    width: 45%;
  }

  #github {
    float: left;
    margin-left: 5%;
  }

  #contact {
    float: right;
    margin-right: 5%;
  }
}

@media screen and (max-width: 320px) {

  .name {
    display: none;
  }

}
